aznu/aznu-cinema/cinema-booking-ui/src/main/resources/cinema.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cinemabooking.stasiak.xyz/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CinemaBookingServiceService" targetNamespace="http://cinemabooking.stasiak.xyz/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cinemabooking.stasiak.xyz/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://cinemabooking.stasiak.xyz/" version="1.0">
  <xs:element name="cancelReservation" type="tns:cancelReservation"/>
  <xs:element name="cancelReservationResponse" type="tns:cancelReservationResponse"/>
  <xs:element name="makeReservation" type="tns:makeReservation"/>
  <xs:element name="makeReservationResponse" type="tns:makeReservationResponse"/>
  <xs:complexType name="makeReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:reservationRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="person" type="tns:person"/>
      <xs:element minOccurs="0" name="seats" type="tns:seats"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seats">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="seat" nillable="true" type="tns:seat"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seat">
    <xs:sequence>
      <xs:element name="place" type="xs:int"/>
      <xs:element name="row" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="makeReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reservationInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reservationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cost" type="xs:decimal"/>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelReservation">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelReservationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reservationInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fault" type="tns:Fault"/>
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="code" type="xs:int"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Fault">
    <wsdl:part element="tns:Fault" name="Fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservationResponse">
    <wsdl:part element="tns:cancelReservationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeReservationResponse">
    <wsdl:part element="tns:makeReservationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeReservation">
    <wsdl:part element="tns:makeReservation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservation">
    <wsdl:part element="tns:cancelReservation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CinemaBookingService">
    <wsdl:operation name="makeReservation">
      <wsdl:input message="tns:makeReservation" name="makeReservation">
    </wsdl:input>
      <wsdl:output message="tns:makeReservationResponse" name="makeReservationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <wsdl:input message="tns:cancelReservation" name="cancelReservation">
    </wsdl:input>
      <wsdl:output message="tns:cancelReservationResponse" name="cancelReservationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Fault" name="Fault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CinemaBookingServiceServiceSoapBinding" type="tns:CinemaBookingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="makeReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="makeReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelReservation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelReservationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Fault">
        <soap:fault name="Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CinemaBookingServiceService">
    <wsdl:port binding="tns:CinemaBookingServiceServiceSoapBinding" name="CinemaBookingServicePort">
      <soap:address location="http://localhost:8081/soap-api/service/cinema"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>